/*
Shipeasy Admin API

REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package admin

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// InvestigationsAPIService InvestigationsAPI service
type InvestigationsAPIService service

type ApiCreateOpsInvestigationRequest struct {
	ctx context.Context
	ApiService *InvestigationsAPIService
	handle string
	createOpsInvestigationRequest *CreateOpsInvestigationRequest
	xProjectId *string
}

func (r ApiCreateOpsInvestigationRequest) CreateOpsInvestigationRequest(createOpsInvestigationRequest CreateOpsInvestigationRequest) ApiCreateOpsInvestigationRequest {
	r.createOpsInvestigationRequest = &createOpsInvestigationRequest
	return r
}

// Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
func (r ApiCreateOpsInvestigationRequest) XProjectId(xProjectId string) ApiCreateOpsInvestigationRequest {
	r.xProjectId = &xProjectId
	return r
}

func (r ApiCreateOpsInvestigationRequest) Execute() (*OpsInvestigation, *http.Response, error) {
	return r.ApiService.CreateOpsInvestigationExecute(r)
}

/*
CreateOpsInvestigation Record an investigation

Append one structured investigation record to a queue item — the AI-write
seam the cockpit's detail panel renders read-only. Post your findings
(`kind: investigated`), a blocking question for the team (`kind:
question`), or how to verify the fix (`kind: ready_for_qa` with
`qaNotes`). Append-only and create-only, so it is safe for restricted ops
keys.

**Use case:** After working an item, leave a findings write-up (summary,
markdown findings, sources inspected, confidence) so the team — and the
next agent run — sees what you learned.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param handle Per-project item number (e.g. `7`) or the full ops item id.
 @return ApiCreateOpsInvestigationRequest
*/
func (a *InvestigationsAPIService) CreateOpsInvestigation(ctx context.Context, handle string) ApiCreateOpsInvestigationRequest {
	return ApiCreateOpsInvestigationRequest{
		ApiService: a,
		ctx: ctx,
		handle: handle,
	}
}

// Execute executes the request
//  @return OpsInvestigation
func (a *InvestigationsAPIService) CreateOpsInvestigationExecute(r ApiCreateOpsInvestigationRequest) (*OpsInvestigation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OpsInvestigation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvestigationsAPIService.CreateOpsInvestigation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/admin/ops/{handle}/investigation"
	localVarPath = strings.Replace(localVarPath, "{"+"handle"+"}", url.PathEscape(parameterValueToString(r.handle, "handle")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.handle) < 1 {
		return localVarReturnValue, nil, reportError("handle must have at least 1 elements")
	}
	if strlen(r.handle) > 128 {
		return localVarReturnValue, nil, reportError("handle must have less than 128 elements")
	}
	if r.createOpsInvestigationRequest == nil {
		return localVarReturnValue, nil, reportError("createOpsInvestigationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Project-Id", r.xProjectId, "simple", "")
	}
	// body params
	localVarPostBody = r.createOpsInvestigationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOpsInvestigationsRequest struct {
	ctx context.Context
	ApiService *InvestigationsAPIService
	handle string
	xProjectId *string
}

// Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
func (r ApiListOpsInvestigationsRequest) XProjectId(xProjectId string) ApiListOpsInvestigationsRequest {
	r.xProjectId = &xProjectId
	return r
}

func (r ApiListOpsInvestigationsRequest) Execute() ([]OpsInvestigation, *http.Response, error) {
	return r.ApiService.ListOpsInvestigationsExecute(r)
}

/*
ListOpsInvestigations List an item's investigation records

The structured, read-only investigation records on a queue item — the
findings / blocking questions / QA notes an AI agent posted while working
it, plus its `working` run rows. Returns `published` records only, newest
first (max 50).

**Use case:** Read what a previous agent run already found before starting
your own investigation of the item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param handle Per-project item number (e.g. `7`) or the full ops item id.
 @return ApiListOpsInvestigationsRequest
*/
func (a *InvestigationsAPIService) ListOpsInvestigations(ctx context.Context, handle string) ApiListOpsInvestigationsRequest {
	return ApiListOpsInvestigationsRequest{
		ApiService: a,
		ctx: ctx,
		handle: handle,
	}
}

// Execute executes the request
//  @return []OpsInvestigation
func (a *InvestigationsAPIService) ListOpsInvestigationsExecute(r ApiListOpsInvestigationsRequest) ([]OpsInvestigation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []OpsInvestigation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvestigationsAPIService.ListOpsInvestigations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/admin/ops/{handle}/investigation"
	localVarPath = strings.Replace(localVarPath, "{"+"handle"+"}", url.PathEscape(parameterValueToString(r.handle, "handle")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.handle) < 1 {
		return localVarReturnValue, nil, reportError("handle must have at least 1 elements")
	}
	if strlen(r.handle) > 128 {
		return localVarReturnValue, nil, reportError("handle must have less than 128 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Project-Id", r.xProjectId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOpsInvestigationRequest struct {
	ctx context.Context
	ApiService *InvestigationsAPIService
	handle string
	investigationId string
	updateOpsInvestigationRequest *UpdateOpsInvestigationRequest
	xProjectId *string
}

func (r ApiUpdateOpsInvestigationRequest) UpdateOpsInvestigationRequest(updateOpsInvestigationRequest UpdateOpsInvestigationRequest) ApiUpdateOpsInvestigationRequest {
	r.updateOpsInvestigationRequest = &updateOpsInvestigationRequest
	return r
}

// Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
func (r ApiUpdateOpsInvestigationRequest) XProjectId(xProjectId string) ApiUpdateOpsInvestigationRequest {
	r.xProjectId = &xProjectId
	return r
}

func (r ApiUpdateOpsInvestigationRequest) Execute() (*OpsInvestigation, *http.Response, error) {
	return r.ApiService.UpdateOpsInvestigationExecute(r)
}

/*
UpdateOpsInvestigation Update an investigation record

Update one existing investigation record in place — the write-back seam for
the `working` run record you were handed when a run was launched. Fill in
the `summary`/`findings`, attach the fixing PR, record your `confidence`
and the `sources` you inspected, or flip its `kind` off `working` once the
investigation is done. A partial patch: send only the fields you want to
change. Safe for restricted ops keys (it never reads or deletes).

**Use case:** A run started with an empty `working` record; as you work,
PATCH it with your findings so the cockpit's detail panel fills in live —
no need to append a second record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param handle Per-project item number (e.g. `7`) or the full ops item id.
 @param investigationId The investigation record id (from `POST`/`GET .../investigation` or the `runId` an ack/launch returned).
 @return ApiUpdateOpsInvestigationRequest
*/
func (a *InvestigationsAPIService) UpdateOpsInvestigation(ctx context.Context, handle string, investigationId string) ApiUpdateOpsInvestigationRequest {
	return ApiUpdateOpsInvestigationRequest{
		ApiService: a,
		ctx: ctx,
		handle: handle,
		investigationId: investigationId,
	}
}

// Execute executes the request
//  @return OpsInvestigation
func (a *InvestigationsAPIService) UpdateOpsInvestigationExecute(r ApiUpdateOpsInvestigationRequest) (*OpsInvestigation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OpsInvestigation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvestigationsAPIService.UpdateOpsInvestigation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/admin/ops/{handle}/investigation/{investigationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"handle"+"}", url.PathEscape(parameterValueToString(r.handle, "handle")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"investigationId"+"}", url.PathEscape(parameterValueToString(r.investigationId, "investigationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.handle) < 1 {
		return localVarReturnValue, nil, reportError("handle must have at least 1 elements")
	}
	if strlen(r.handle) > 128 {
		return localVarReturnValue, nil, reportError("handle must have less than 128 elements")
	}
	if strlen(r.investigationId) < 1 {
		return localVarReturnValue, nil, reportError("investigationId must have at least 1 elements")
	}
	if strlen(r.investigationId) > 128 {
		return localVarReturnValue, nil, reportError("investigationId must have less than 128 elements")
	}
	if r.updateOpsInvestigationRequest == nil {
		return localVarReturnValue, nil, reportError("updateOpsInvestigationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Project-Id", r.xProjectId, "simple", "")
	}
	// body params
	localVarPostBody = r.updateOpsInvestigationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
