{
  "openapi": "3.1.0",
  "info": {
    "title": "Shipeasy Admin API (SDK admin subset)",
    "version": "2.0.0",
    "description": "Lean subset of the Shipeasy admin API vendored into the server SDKs to build the optional AdminClient. Generated by scripts/sdk-spec/prune.mjs from the canonical spec — do not hand-edit. Groups: ops-public-ticket, killswitch-switches, flag-whitelist.",
    "contact": {
      "name": "Shipeasy",
      "url": "https://shipeasy.ai"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://shipeasy.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Next.js dev server"
    }
  ],
  "security": [
    {
      "bearerSdkKey": []
    }
  ],
  "tags": [
    {
      "name": "Flags",
      "parent": "Release",
      "description": "Feature gates: boolean flags evaluated at runtime against project rules + a percentage rollout.\n\n**Identity.** Each gate is keyed by a stable `name` (a-z, 0-9, `_`/`-`, max 64 chars) which is what SDKs pass to `Shipeasy.checkGate(user, '<name>')`. The `name` is immutable — rename means delete + recreate.\n\n**Evaluation model.** A gate returns `true` when (a) `enabled` is true, and (b) the caller satisfies the gate's rules. There are two evaluation shapes:\n- **Flat** — `rules` (AND-combined predicates) gate the caller, then `rollout_pct` (basis points, 0–10000) hashes them into a bucket. Used for simple `is in X% rollout` gates.\n- **Gatekeeper stack** — an ordered array of `condition` and `rollout` sub-gates, evaluated top-to-bottom; first match wins. Used to express `internal-only ∪ 1% beta ∪ 50% public` in one gate. When `stack` is present it takes precedence over the flat fields.\n\n**Rules.** Each rule is `{ attr, op, value }`. Supported ops: `eq`, `neq`, `in`, `not_in`, `gt`, `gte`, `lt`, `lte`, `contains`, `regex`. Attribute names match the keys on the SDK evaluation context (e.g. `country`, `plan`, `email`).\n\n**Rollout basis points.** `rollout_pct` is in **basis points**, not percent. `0` = 0%, `100` = 1%, `5000` = 50%, `10000` = 100%. This allows sub-1% precision (e.g. `7` = 0.07%).\n\n**Lifecycle.** Create dark (`rollout_pct: 0`) → attach rules → ramp via PATCH → flip kill-switch via `disable`/`enable` → delete once retired. Deletion is blocked while a running experiment references the gate as a targeting gate."
    },
    {
      "name": "Killswitch",
      "parent": "Release",
      "x-cli": {
        "aliases": [
          "ks"
        ]
      },
      "description": "Killswitches: per-env boolean overrides for kill-style operational toggles. Optimised for incident response — no rules, no rollout, just a flat boolean (plus optional per-key overrides) versioned per environment.\n\n**Identity.** Each killswitch is keyed by `name` in `folder.name` form (e.g. `payments.checkout`). Immutable after create.\n\n**Per-env values.** Every killswitch stores one version stream per env (`dev`, `stage`, `prod`). A `PATCH` with `value`/`switches` applies to **every** env in one shot (publishes a new version per env). To touch a single env, use `PUT /{id}/switch` and friends.\n\n**Switches map.** Optional `switches: { key: bool }` overrides the flat `value` for specific named call sites — useful for region/feature-scoped kills.\n\n**Versioning.** Each publish (create, update, set-switch, unset-switch) bumps the per-env `version` monotonically. SDKs deliver the latest published version."
    },
    {
      "name": "Ops",
      "description": "Operational queue: the unified table of bug reports, feature requests, and\nauto-filed error/alert tickets, all over `/api/admin/ops`. One `create`\nendpoint files either user type (`type: bug | feature_request`); list, get,\nupdate, and link-pr are unified across every type. Also exposes the\n`notify` escalation bell and the read-only Slack-channels list used to\nresolve alert-rule notification targets.\n\n**Handles.** A queue item is addressed by its per-project `number` (e.g. `7`)\nor its full id — the API resolves either."
    },
    {
      "name": "Comments",
      "parent": "Ops",
      "description": "Comments on a queue item — the discussion thread that hangs off any bug,\nfeature request, or auto-filed error/alert ticket. Append a comment or read\nthe thread; one level of threaded replies via `parentId`.\n\n**Mentions.** `@teammate` in a body raises an in-app notification for that\nperson; `@shipeasy` asks Jarvis (the AI agent) to read the item and reply.\nComments authored by Jarvis carry `authorType: system`."
    }
  ],
  "paths": {
    "/api/admin/gates": {
      "get": {
        "operationId": "listGates",
        "summary": "List feature gates",
        "description": "Returns a single page of gates ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.\n\n**Use case:** Snapshot every gate in the project — for example to render an admin overview or to drive a CI check that asserts no gate is left at 100% in staging.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/Q"
          }
        ],
        "responses": {
          "200": {
            "description": "List feature gates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGatesResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                      "name": "checkout_v2",
                      "enabled": 1,
                      "rolloutPct": 5000,
                      "rules": [
                        {
                          "attr": "country",
                          "op": "in",
                          "value": [
                            "US",
                            "CA",
                            "GB"
                          ]
                        },
                        {
                          "attr": "plan",
                          "op": "neq",
                          "value": "free"
                        }
                      ],
                      "salt": "9c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a1",
                      "title": "Checkout v2",
                      "description": "New checkout flow. Pro users in US/CA/GB only.",
                      "folder": "checkout",
                      "groupName": "growth",
                      "ownerEmail": "ana@example.com",
                      "stack": null,
                      "creatorEmail": "ana@example.com",
                      "updaterEmail": "bo@example.com",
                      "version": 4,
                      "createdAt": "2026-05-01T10:12:00.000Z",
                      "updatedAt": "2026-05-09T16:01:22.000Z"
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN"
        ],
        "x-cli": {
          "name": "list"
        }
      }
    },
    "/api/admin/gates/{id}": {
      "get": {
        "operationId": "getGate",
        "summary": "Get one gate",
        "description": "Returns the full gate row — including the gatekeeper `stack`, resolved creator/last-editor emails, and the edit `version` — for one gate, addressed by id or `name`.\n\n**Use case:** Inspect a single gate's current rollout, rules, and stack before editing it, without paging through the whole list.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GateApiRow"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc",
                  "name": "checkout_v2",
                  "enabled": 1,
                  "type": "targeting",
                  "rolloutPct": 5000,
                  "rules": [
                    {
                      "attr": "country",
                      "op": "in",
                      "value": [
                        "US",
                        "CA",
                        "GB"
                      ]
                    }
                  ],
                  "salt": "9c1f4f1f2c0c4a5fa1c2b6d3e7c8e3a1",
                  "title": "Checkout v2",
                  "description": "New checkout flow. Pro users in US/CA/GB only.",
                  "folder": "checkout",
                  "groupName": "growth",
                  "ownerEmail": "ana@example.com",
                  "stack": null,
                  "creatorEmail": "ana@example.com",
                  "updaterEmail": "bo@example.com",
                  "version": 4,
                  "createdAt": "2026-05-01T10:12:00.000Z",
                  "updatedAt": "2026-05-09T16:01:22.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "get",
          "positional": [
            "id"
          ]
        }
      },
      "patch": {
        "operationId": "updateGate",
        "summary": "Update a feature gate",
        "description": "Partial update — only supplied fields change. Array fields (`rules`, `stack`) **replace** wholesale; there is no merge or append.\n\n`name` and the gate id are immutable. The response carries only `{ id }` — re-fetch via `GET /api/admin/gates` for the new row.\n\n**Use cases**\n\n- **Ramp rollout** — `{ \"rollout_pct\": 5000 }` for 50%. Basis points (0–10000); `100` = 1%.\n- **Kill switch** — `{ \"enabled\": false }`. Forces evaluation to `false` for every caller regardless of rules/rollout. Re-enable with `POST /{id}/enable` or `{ \"enabled\": true }`.\n- **Modify a rule's `in` set** — send the full new `rules` array. To add `'GB'` to `['US','CA']`: `{ \"rules\": [{ \"attr\": \"country\", \"op\": \"in\", \"value\": [\"US\",\"CA\",\"GB\"] }] }`. No per-rule patch endpoint.\n- **Add targeting from scratch** — `{ \"rules\": [{ \"attr\": \"email\", \"op\": \"regex\", \"value\": \"@acme\\\\.com$\" }] }`.\n- **Switch to gatekeeper stack** — send a non-null `stack`. To revert to flat eval, send `{ \"stack\": null }`.\n- **Update metadata** — any subset of `title`, `description`, `folder`, `group`, `owner_email`.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque gate id (`gat_…`) or the gate's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGateRequest"
              },
              "examples": {
                "rampRollout": {
                  "summary": "Ramp rollout — 0 → 50%",
                  "description": "Single-field patch. `5000` basis points = 50%.",
                  "value": {
                    "rollout_pct": 5000
                  }
                },
                "killSwitch": {
                  "summary": "Kill switch — disable the gate",
                  "description": "Forces evaluation to `false` for every caller, regardless of rules or rollout. Same effect as `POST /{id}/disable` but composable with other patches.",
                  "value": {
                    "enabled": false
                  }
                },
                "extendInRule": {
                  "summary": "Add a value to an `in` rule",
                  "description": "Array fields replace wholesale — there is no per-rule patch. To add `'AU'` to a country whitelist that previously held `['US','CA','GB']`, send the full new `rules` array. Same pattern applies to `not_in`.",
                  "value": {
                    "rules": [
                      {
                        "attr": "country",
                        "op": "in",
                        "value": [
                          "US",
                          "CA",
                          "GB",
                          "AU"
                        ]
                      },
                      {
                        "attr": "plan",
                        "op": "neq",
                        "value": "free"
                      }
                    ]
                  }
                },
                "replaceStack": {
                  "summary": "Replace gatekeeper stack",
                  "description": "Stack is replace-wholesale. Send the full new ordered list. Pass `\"stack\": null` to revert the gate to flat `rules` + `rollout_pct` evaluation.",
                  "value": {
                    "stack": [
                      {
                        "id": "01HKJ0EMP",
                        "type": "condition",
                        "name": "Employees",
                        "pass": "any",
                        "rules": [
                          {
                            "attr": "email",
                            "op": "regex",
                            "value": "@acme\\.com$"
                          }
                        ]
                      },
                      {
                        "id": "01HKJ0PUB",
                        "type": "rollout",
                        "name": "Public",
                        "rolloutPct": 5000,
                        "locked": true
                      }
                    ]
                  }
                },
                "updateMetadata": {
                  "summary": "Update dashboard metadata",
                  "description": "Any subset of `title`, `description`, `folder`, `group`, `owner_email`. Snake-case in the request; the GET response returns camelCase (`groupName`, `ownerEmail`).",
                  "value": {
                    "title": "Checkout v2 (50%)",
                    "description": "Bumped to 50% after passing canary. Added AU.",
                    "folder": "checkout",
                    "owner_email": "ana@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a feature gate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateGateResponse"
                },
                "example": {
                  "id": "gat_01j7w7m9q4hxbf6npe6s9zr3vc"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "update",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/killswitches": {
      "get": {
        "operationId": "listKillswitches",
        "summary": "List killswitches",
        "description": "Returns a single page of killswitches ordered by `updated_at desc, id desc`. Each row includes the latest published `value`/`switches`/`version` per env.\n\n**Use case:** Snapshot every killswitch in the project — e.g. to render an incident-response runbook listing every kill and its current trip state.",
        "tags": [
          "Killswitch"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/PaginationLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/Q"
          }
        ],
        "responses": {
          "200": {
            "description": "List killswitches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListKillswitchesResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                      "name": "payments.checkout",
                      "description": "Master kill for the checkout flow. Trip to fall back to the legacy provider.",
                      "folder": "payments",
                      "creatorEmail": "ana@example.com",
                      "createdAt": "2026-05-01T10:12:00.000Z",
                      "updatedAt": "2026-05-09T18:22:11.000Z",
                      "envs": {
                        "dev": {
                          "value": false,
                          "version": 3,
                          "publishedAt": "2026-05-09T18:22:11.000Z"
                        },
                        "stage": {
                          "value": false,
                          "version": 3,
                          "publishedAt": "2026-05-09T18:22:11.000Z"
                        },
                        "prod": {
                          "value": false,
                          "switches": {
                            "eu_region": true
                          },
                          "version": 5,
                          "publishedAt": "2026-05-09T18:22:11.000Z"
                        }
                      }
                    }
                  ],
                  "next_cursor": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN"
        ],
        "x-cli": {
          "name": "list"
        }
      }
    },
    "/api/admin/killswitches/{id}": {
      "get": {
        "operationId": "getKillswitch",
        "summary": "Get one killswitch",
        "description": "Returns the killswitch metadata plus the latest published `value`/`switches`/`version` per env.\n\n**Use case:** Fetch the current state of one killswitch — e.g. to verify a trip propagated before declaring an incident mitigated.",
        "tags": [
          "Killswitch"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque killswitch id (`ksw_…`) or the killswitch's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one killswitch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKillswitchResponse"
                },
                "example": {
                  "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                  "name": "payments.checkout",
                  "description": "Master kill for the checkout flow. Trip to fall back to the legacy provider.",
                  "folder": "payments",
                  "creatorEmail": "ana@example.com",
                  "createdAt": "2026-05-01T10:12:00.000Z",
                  "updatedAt": "2026-05-09T18:22:11.000Z",
                  "envs": {
                    "dev": {
                      "value": false,
                      "version": 3,
                      "publishedAt": "2026-05-09T18:22:11.000Z"
                    },
                    "stage": {
                      "value": false,
                      "version": 3,
                      "publishedAt": "2026-05-09T18:22:11.000Z"
                    },
                    "prod": {
                      "value": false,
                      "switches": {
                        "eu_region": true
                      },
                      "version": 5,
                      "publishedAt": "2026-05-09T18:22:11.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "get",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/killswitches/{id}/switch": {
      "put": {
        "operationId": "setKillswitchSwitch",
        "summary": "Set one switch entry",
        "description": "Sets or updates a single `switchKey` on a single `env`. Publishes one new version on that env only — other envs untouched.\n\nUse this for surgical per-env, per-key flips during incident response (e.g. trip `eu_region` on prod without touching the flat `value` or other envs).\n\n**Use cases**\n\n- **Trip a region** — `{ \"env\": \"prod\", \"switchKey\": \"eu_region\", \"value\": true }`.\n- **Untrip without removing** — same payload with `value: false`. To remove the entry entirely use `DELETE /{id}/switch`.",
        "tags": [
          "Killswitch"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque killswitch id (`ksw_…`) or the killswitch's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetKillswitchSwitchRequest"
              },
              "examples": {
                "tripRegion": {
                  "summary": "Trip eu_region on prod",
                  "description": "Sets `switches.eu_region = true` on prod only. Other envs and the flat `value` are unchanged.",
                  "value": {
                    "env": "prod",
                    "switchKey": "eu_region",
                    "value": true
                  }
                },
                "untripRegion": {
                  "summary": "Untrip eu_region on prod",
                  "description": "Flip the same entry back off without removing it from the map.",
                  "value": {
                    "env": "prod",
                    "switchKey": "eu_region",
                    "value": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set one switch entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetKillswitchSwitchResponse"
                },
                "example": {
                  "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                  "env": "prod",
                  "switchKey": "eu_region",
                  "value": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "set",
          "positional": [
            "id"
          ]
        }
      },
      "delete": {
        "operationId": "unsetKillswitchSwitch",
        "summary": "Remove one switch entry",
        "description": "Removes a single `switchKey` from the `switches` map on a single `env`. Publishes a new version on that env.\n\nReturns `{ removed: false }` if the entry didn't exist (idempotent no-op).\n\n**Use case:** Clean up a per-region override after the incident is resolved so the flat `value` governs again.",
        "tags": [
          "Killswitch"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stable opaque killswitch id (`ksw_…`) or the killswitch's `name`.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsetKillswitchSwitchRequest"
              },
              "examples": {
                "removeRegion": {
                  "summary": "Remove eu_region from prod",
                  "description": "Drops the `eu_region` override on prod so the flat `value` applies again.",
                  "value": {
                    "env": "prod",
                    "switchKey": "eu_region"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remove one switch entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsetKillswitchSwitchResponse"
                },
                "example": {
                  "id": "ksw_01j7w9d8h2k4m6n8p0q2r4s6t8",
                  "env": "prod",
                  "switchKey": "eu_region",
                  "removed": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "unset",
          "positional": [
            "id"
          ]
        }
      }
    },
    "/api/admin/ops": {
      "get": {
        "operationId": "listOpsItems",
        "summary": "List the operational queue",
        "description": "Returns the unified ops queue (bugs, feature requests, errors, alerts) in work order — highest priority first, oldest first within a priority — so consumers work it top-down. Filter by `type` and/or `status`, and cap with `limit`. Human-gated holding states (items awaiting human sign-off in the dashboard) are never returned by `all`/default status.\n\n**Use case:** Pull the open queue to triage — e.g. every `bug` still `open` — before working items down one by one.",
        "tags": [
          "Ops"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by item type (`bug`/`feature_request`/`error`/`alert`), or `all`.",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "bug",
                    "feature_request",
                    "error",
                    "alert"
                  ],
                  "description": "Queue item type. `bug` and `feature_request` are user-fileable; `error` and `alert` tickets are auto-filed by the platform."
                },
                {
                  "type": "string",
                  "const": "all"
                }
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by lifecycle status, or `all`. The human-gated holding state (`pending_approval`) is excluded from `all`/default and returned only when requested as the exact status.",
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OpsItemStatus"
                },
                {
                  "type": "string",
                  "const": "all"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max items to return (1–500).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "description": "Narrow to items owned by one person OR one agent. Matches a person by `users.id`, email, or display name, and an agent by connector id, display name, or kebab-case handle — e.g. `owner=Claude` or `owner=alice@acme.dev`. Case-insensitive exact match, applied over the returned page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List the operational queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpsItemsResponse"
                },
                "example": [
                  {
                    "id": "fb_01j7w8a1b2c3d4e5f6g7h8i9j0",
                    "number": 7,
                    "type": "bug",
                    "title": "Checkout button misaligned on mobile",
                    "status": "open",
                    "priority": "high",
                    "source": "team",
                    "owner": {
                      "user": {
                        "id": "usr_01j7w8a1b2c3d4e5f6g7h8i9j0",
                        "email": "alice@acme.dev",
                        "name": "Alice"
                      },
                      "agent": null
                    },
                    "run": null,
                    "lastRun": null,
                    "createdAt": "2026-06-20T09:14:08.000Z",
                    "updatedAt": "2026-06-21T10:02:44.000Z"
                  }
                ]
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN"
        ],
        "x-cli": {
          "name": "list"
        }
      },
      "post": {
        "operationId": "createOpsItem",
        "summary": "File a queue item",
        "description": "Files one queue item — a bug report or a feature request — and fires the project's connectors (GitHub issue / Slack). `type` selects which; only the two user-fileable types are accepted (`error`/`alert` tickets are auto-filed by the platform). Returns the new id and per-project number.\n\n**Use cases**\n\n- **File a bug** — `{ \"type\": \"bug\", \"title\": \"Checkout 500s on Safari\", \"stepsToReproduce\": \"…\" }`.\n- **File a feature request** — `{ \"type\": \"feature_request\", \"title\": \"Dark mode\", \"priority\": \"nice_to_have\" }`.",
        "tags": [
          "Ops"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpsItemRequest"
              },
              "examples": {
                "bug": {
                  "summary": "File a bug report",
                  "value": {
                    "type": "bug",
                    "title": "Checkout button misaligned on mobile",
                    "stepsToReproduce": "Open the cart on iOS Safari and tap the price row.",
                    "actualResult": "The primary CTA overlaps the price.",
                    "expectedResult": "The CTA sits below the price with clear spacing.",
                    "priority": "high"
                  }
                },
                "featureRequest": {
                  "summary": "File a feature request",
                  "value": {
                    "type": "feature_request",
                    "title": "Dark mode for the dashboard",
                    "description": "Add a theme toggle that persists per user.",
                    "useCase": "Reduce eye strain for users working at night.",
                    "priority": "nice_to_have"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File a queue item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpsItemResponse"
                },
                "example": {
                  "id": "fb_01j7w8a1b2c3d4e5f6g7h8i9j0",
                  "number": 7
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "ALREADY_EXISTS",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "create",
          "positional": [
            "title"
          ],
          "commands": [
            {
              "name": "create",
              "summary": "File a queue item (bug or feature request) — pass --type."
            },
            {
              "name": "bug",
              "summary": "File a bug report.",
              "preset": {
                "type": "bug"
              }
            },
            {
              "name": "feature",
              "summary": "File a feature request.",
              "preset": {
                "type": "feature_request"
              }
            }
          ]
        }
      }
    },
    "/api/admin/ops/{handle}": {
      "get": {
        "operationId": "getOpsItem",
        "summary": "Get one queue item",
        "description": "Fetch a single queue item by its per-project `number` or full id.\n\n**Use case:** Inspect one item's full detail before updating its status or linking a PR.",
        "tags": [
          "Ops"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "Per-project item number (e.g. `7`) or the full ops item id.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get one queue item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpsItemResponse"
                },
                "example": {
                  "id": "fb_01j7w8a1b2c3d4e5f6g7h8i9j0",
                  "number": 7,
                  "type": "bug",
                  "title": "Checkout button misaligned on mobile",
                  "status": "open",
                  "priority": "high",
                  "createdAt": "2026-06-20T09:14:08.000Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "get",
          "positional": [
            "handle"
          ]
        }
      },
      "patch": {
        "operationId": "updateOpsItem",
        "summary": "Update a queue item",
        "description": "Update a queue item. The body is validated against the item's stored type: a `bug` accepts its content fields (title, steps-to-reproduce, actual/expected result) plus `status`/`priority`/`notify` and a GitHub PR link; a `feature_request` its content (title, description, use-case) plus the same triage fields; `error`/`alert`/`measure_plan` accept `status`/`priority`/`notify` only (their content is platform-owned). Pass at least one field.\n\nCompleting an `error` ticket (status `resolved` or `ready_for_qa`) also resolves the tracked error it links to; the error reopens automatically if it recurs — so completing is safe pre-deploy.\n\n**Use cases**\n\n- **Start working an item** — `{ \"status\": \"in_progress\" }`.\n- **Hand off for review** — `{ \"status\": \"ready_for_qa\" }` once the fix landed (the mode PR-based loops use).\n- **Triage** — `{ \"priority\": \"high\" }`, content edits on bug/feature items.",
        "tags": [
          "Ops"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "Per-project item number (e.g. `7`) or the full ops item id.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOpsItemRequest"
              },
              "examples": {
                "startWork": {
                  "summary": "Flip an item to in_progress when starting it",
                  "value": {
                    "status": "in_progress"
                  }
                },
                "handOff": {
                  "summary": "Hand a fixed item off for human review",
                  "value": {
                    "status": "ready_for_qa"
                  }
                },
                "triage": {
                  "summary": "Set priority while triaging",
                  "value": {
                    "priority": "high"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a queue item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOpsItemResponse"
                },
                "example": {
                  "id": "fb_01j7w8a1b2c3d4e5f6g7h8i9j0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "update",
          "positional": [
            "handle"
          ]
        }
      }
    },
    "/api/admin/ops/{handle}/comments": {
      "get": {
        "operationId": "listOpsComments",
        "summary": "List an item's comments",
        "description": "List the comment thread on a queue item, oldest first. Each comment\ncarries its author (a teammate email, or `system` for a comment authored by\nJarvis — the AI agent), its markdown body, and `parentId` for the single\nlevel of threaded replies. Removed comments are omitted.\n\n**Use case:** Read the discussion on an item before replying or acting on it.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "Per-project item number (e.g. `7`) or the full ops item id.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List an item's comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpsCommentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND"
        ],
        "x-cli": {
          "name": "list",
          "positional": [
            "handle"
          ]
        }
      },
      "post": {
        "operationId": "createOpsComment",
        "summary": "Comment on an item",
        "description": "Append a comment to a queue item's thread. The body is markdown (mentions\nlike `@teammate` notify that person; `@shipeasy` asks Jarvis, the AI agent,\nto reply). Pass `parentId` to reply under an existing top-level comment\n(one level of threading — a reply to a reply attaches to the same parent).\n\nCreate-only and append-only, so it is safe for restricted ops keys — the\nsame channel the ops loop and Jarvis use to leave a note on an item.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "Per-project item number (e.g. `7`) or the full ops item id.",
            "schema": {
              "$ref": "#/components/schemas/ResourceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpsCommentRequest"
              },
              "examples": {
                "comment": {
                  "summary": "Leave a comment",
                  "value": {
                    "body": "Repro'd on iOS Safari 17 — the button overflows its container. cc @alice"
                  }
                },
                "reply": {
                  "summary": "Reply under an existing comment",
                  "value": {
                    "body": "Agreed, let's ship the fix behind @shipeasy's suggested flag.",
                    "parentId": "cm_01j7w8a1b2c3d4e5f6g7h8i9j0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment on an item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpsCommentResponse"
                },
                "example": {
                  "id": "cm_01j7w8a1b2c3d4e5f6g7h8i9j0"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-error-codes": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "NOT_FOUND",
          "VALIDATION"
        ],
        "x-cli": {
          "name": "create",
          "positional": [
            "handle"
          ]
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerSdkKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sdk_admin_*",
        "description": "Pass an admin SDK key as `Authorization: Bearer sdk_admin_…`. Mint via `POST /api/admin/keys` with `type: \"admin\"`."
      }
    },
    "parameters": {
      "PaginationCursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque cursor returned in the previous page's `next_cursor`. Omit for the first page.",
        "schema": {
          "type": "string"
        }
      },
      "PaginationLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Page size (1–500). Defaults to 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 100
        }
      },
      "ProjectId": {
        "name": "X-Project-Id",
        "in": "header",
        "required": false,
        "description": "Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).",
        "schema": {
          "type": "string"
        }
      },
      "Q": {
        "name": "q",
        "in": "query",
        "required": false,
        "description": "Case-insensitive substring filter across the resource's human-readable text columns (e.g. `name`, `title`, `description`). OR-matched across those columns; omit to return everything.",
        "schema": {
          "type": "string",
          "maxLength": 100
        }
      }
    },
    "schemas": {
      "ConnectorData": {
        "type": "object",
        "properties": {
          "github": {
            "$ref": "#/components/schemas/GithubConnectorData"
          },
          "slack": {
            "$ref": "#/components/schemas/SlackConnectorData"
          }
        },
        "additionalProperties": {},
        "description": "Connector linkage for one queue item, keyed by provider. Each provider's driver deep-merges its own trace into this blob, so any subset of providers may be present. Unknown/future providers may appear as additional keys."
      },
      "CreateBugRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bug"
            ],
            "description": "Discriminator — files a bug."
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^\\S(.*\\S)?$",
            "description": "One-line bug title (no leading/trailing whitespace)."
          },
          "stepsToReproduce": {
            "type": "string",
            "maxLength": 8000,
            "default": "",
            "description": "How to reproduce the bug."
          },
          "actualResult": {
            "type": "string",
            "maxLength": 8000,
            "default": "",
            "description": "What actually happened."
          },
          "expectedResult": {
            "type": "string",
            "maxLength": 8000,
            "default": "",
            "description": "What was expected instead."
          },
          "priority": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OpsItemPriority"
              },
              {
                "type": "null"
              }
            ],
            "description": "Initial triage priority, or `null`."
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OpsItemStatus"
              }
            ],
            "description": "Initial lifecycle status; defaults to `open` when omitted."
          },
          "assigneeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The `users.id` of the person to assign as owner at creation, or `null`."
          },
          "subscribers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "default": [],
            "description": "Emails of teammates to subscribe to this item's Slack pings at creation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "Tag names to attach at creation (get-or-created by name, deduped case-insensitively)."
          },
          "reporterEmail": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "description": "Email of the reporter, or `null`."
          },
          "pageUrl": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL of the page the bug relates to, or `null`."
          },
          "userAgent": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "description": "Reporter's user-agent string, or `null`."
          },
          "viewport": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 40
              },
              {
                "type": "null"
              }
            ],
            "description": "Reporter's viewport (e.g. `1280x720`), or `null`."
          },
          "context": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ],
            "description": "Arbitrary capture context, or `null`."
          },
          "notify": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NotificationTarget"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where this bug's completion notification lands."
          }
        },
        "required": [
          "type",
          "title"
        ],
        "additionalProperties": false,
        "description": "Bug-kind fields for `POST /api/admin/ops` (sent with `type: bug`)."
      },
      "CreateFeatureRequestRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "feature_request"
            ],
            "description": "Discriminator — files a feature request."
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "pattern": "^\\S(.*\\S)?$",
            "description": "One-line feature-request title (no leading/trailing whitespace)."
          },
          "description": {
            "type": "string",
            "maxLength": 8000,
            "default": "",
            "description": "What the feature is."
          },
          "useCase": {
            "type": "string",
            "maxLength": 8000,
            "default": "",
            "description": "Why it's needed / the use case."
          },
          "priority": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OpsItemPriority"
              },
              {
                "type": "null"
              }
            ],
            "description": "Initial triage priority, or `null`."
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OpsItemStatus"
              }
            ],
            "description": "Initial lifecycle status; defaults to `open` when omitted."
          },
          "assigneeId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The `users.id` of the person to assign as owner at creation, or `null`."
          },
          "subscribers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "default": [],
            "description": "Emails of teammates to subscribe to this item's Slack pings at creation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "Tag names to attach at creation (get-or-created by name, deduped case-insensitively)."
          },
          "reporterEmail": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "description": "Email of the reporter, or `null`."
          },
          "pageUrl": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL of the page the request relates to, or `null`."
          },
          "userAgent": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 500
              },
              {
                "type": "null"
              }
            ],
            "description": "Reporter's user-agent string, or `null`."
          },
          "context": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ],
            "description": "Arbitrary capture context, or `null`."
          },
          "notify": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NotificationTarget"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where this request's completion notification lands."
          }
        },
        "required": [
          "type",
          "title"
        ],
        "additionalProperties": false,
        "description": "Feature-request-kind fields for `POST /api/admin/ops` (sent with `type: feature_request`)."
      },
      "CreateOpsCommentRequest": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "description": "The comment body as markdown. Mentions (`@teammate`, `@shipeasy`) are parsed from it."
          },
          "parentId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Reply under this top-level comment. Omit / `null` for a top-level comment. Replying to a reply attaches to the same top-level parent (threading is one level deep)."
          }
        },
        "required": [
          "body"
        ],
        "additionalProperties": false,
        "description": "Body for `POST /api/admin/ops/{handle}/comments`."
      },
      "CreateOpsCommentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Newly created comment id."
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "description": "Response for `POST /api/admin/ops/{handle}/comments`."
      },
      "CreateOpsItemRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateBugRequest"
          },
          {
            "$ref": "#/components/schemas/CreateFeatureRequestRequest"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "bug": "#/components/schemas/CreateBugRequest",
            "feature_request": "#/components/schemas/CreateFeatureRequestRequest"
          }
        },
        "description": "Body for `POST /api/admin/ops`. A discriminated union on `type`: `bug` carries the bug fields, `feature_request` the feature fields. Only these two user-fileable types are accepted — `error`, `alert`, and `measure_plan` tickets are auto-filed by the platform and cannot be created over the API."
      },
      "CreateOpsItemResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Newly created item id."
          },
          "number": {
            "description": "Per-project item number assigned to the new item.",
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false,
        "description": "Response for `POST /api/admin/ops`."
      },
      "Env": {
        "type": "string",
        "enum": [
          "dev",
          "staging",
          "prod"
        ],
        "description": "Target environment. One of the project's configured envs (`dev`, `staging`, `prod`)."
      },
      "Error": {
        "type": "object",
        "description": "Uniform error envelope returned by every admin endpoint on a non-2xx status. `error` is the human-readable message; `code` is the stable machine code (present whenever the failure maps to a catalogued `ErrorCode`); `detail` carries extra context (validation paths, conflicting field); `fields` maps each failing input field to its own message; `instructions` is optional actionable guidance for resolving the error; `schema` echoes back the expected JSON Schema when a value failed schema validation.",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "detail": {
            "type": "string",
            "description": "Extra context (validation details, conflicting field, referenced row)."
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Per-field validation messages, keyed by the submitted field's path (dot-notation for nested fields, e.g. `groups.0.weight`). Present when structural validation failed on one or more specific input fields, so a client form can attach each message to its own input instead of collapsing everything into one banner."
          },
          "instructions": {
            "type": "string",
            "description": "Actionable guidance for resolving this error — what to check or change next."
          },
          "schema": {
            "type": "object",
            "additionalProperties": true,
            "description": "The expected JSON Schema (draft 2020-12) the submitted value must satisfy. Returned only when a value failed schema validation (e.g. a config `value` that does not match its config's saved schema), so the caller can correct the value and retry without re-fetching."
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "description": "Stable, machine-readable error code. Mirrors the `ErrorCode` catalogue in `@shipeasy/core`. Each operation lists the subset it can return under `x-error-codes`.",
        "enum": [
          "BAD_REQUEST",
          "UNAUTHORIZED",
          "FORBIDDEN",
          "PLAN_REQUIRED",
          "NOT_FOUND",
          "ALREADY_EXISTS",
          "INVALID_TRANSITION",
          "IMMUTABLE_FIELD",
          "READ_ONLY",
          "REFERENCED_IN_USE",
          "VALIDATION",
          "REFERENCED_NOT_FOUND",
          "GROUPS_WEIGHT_SUM",
          "EVENT_PENDING",
          "INTERNAL",
          "PLAN_LIMIT",
          "EXPERIMENT_NO_GOAL_METRIC",
          "EXPERIMENT_ARCHIVED_RESTART",
          "EXPERIMENT_RESTORE_INVALID",
          "EXPERIMENT_NOT_RUNNING",
          "EXPERIMENT_RUNNING_ARCHIVE",
          "EXPERIMENT_IMMUTABLE_FIELD",
          "METRIC_NOT_FOUND",
          "METRIC_UNKNOWN_ID",
          "AGENT_NOT_CONNECTED"
        ],
        "x-enum-descriptions": {
          "BAD_REQUEST": "Malformed request (bad JSON, missing project scope).",
          "UNAUTHORIZED": "Missing or invalid admin SDK key.",
          "FORBIDDEN": "Key is valid but not allowed to act on this project.",
          "PLAN_REQUIRED": "The requested feature requires a higher plan tier (e.g. sequential testing, custom alpha, holdout, group count).",
          "NOT_FOUND": "The resource does not exist or is not visible to the caller.",
          "ALREADY_EXISTS": "A resource with this name already exists in the project.",
          "INVALID_TRANSITION": "The requested lifecycle transition is not allowed from the current state.",
          "IMMUTABLE_FIELD": "A field that is immutable in the current state was modified (e.g. editing allocation while running).",
          "READ_ONLY": "The resource is a read-only built-in (e.g. a built-in gate-rule template) and cannot be modified or deleted.",
          "REFERENCED_IN_USE": "The resource cannot be archived/deleted while another resource still references it.",
          "VALIDATION": "The request body failed structural (schema) validation.",
          "REFERENCED_NOT_FOUND": "A referenced entity (universe, metric, gate, event) does not exist.",
          "GROUPS_WEIGHT_SUM": "Experiment group weights must sum to 10000 (basis points).",
          "EVENT_PENDING": "The referenced event is still pending review and cannot back a metric yet.",
          "INTERNAL": "Unexpected server error.",
          "PLAN_LIMIT": "The action would exceed a plan quota (e.g. the tier's maximum experiments, metrics, or configs). Upgrade the plan or archive an existing resource.",
          "EXPERIMENT_NO_GOAL_METRIC": "The experiment has no goal metric set, which the requested action requires.",
          "EXPERIMENT_ARCHIVED_RESTART": "An archived experiment cannot be restarted.",
          "EXPERIMENT_RESTORE_INVALID": "The experiment cannot be restored from its current state.",
          "EXPERIMENT_NOT_RUNNING": "The action requires the experiment to be running.",
          "EXPERIMENT_RUNNING_ARCHIVE": "A running experiment cannot be archived — stop it first.",
          "EXPERIMENT_IMMUTABLE_FIELD": "A field that is immutable while the experiment is running was modified.",
          "METRIC_NOT_FOUND": "The referenced metric does not exist or is not visible to the caller.",
          "METRIC_UNKNOWN_ID": "The supplied metric id is malformed or not recognised.",
          "AGENT_NOT_CONNECTED": "The named AI agent type has no connected trigger connector in this project — list the available agents (`ops agents list` / `GET /api/admin/agent-profiles`) and use one of those, or connect the agent under Settings → Triggers."
        }
      },
      "Folder": {
        "anyOf": [
          {
            "type": "string",
            "maxLength": 256,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          {
            "type": "null"
          }
        ],
        "description": "Optional folder name grouping items in the dashboard. Alphanumeric, `_` or `-` (no `/`). Part of the SDK lookup key (`<folder>/<name>`)."
      },
      "GateApiRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable opaque gate id (`gat_…`)."
          },
          "name": {
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-z0-9](?:[a-z0-9_-]*[a-z0-9])?(?:\\.[a-z0-9](?:[a-z0-9_-]*[a-z0-9])?)?$",
            "description": "Stable gate key used by SDKs (`Shipeasy.checkGate(user, '<name>')`). Single segment or `folder.name`. Lowercase letters, digits, `_` or `-`; max 128 chars. Immutable after create — rename = delete + recreate."
          },
          "enabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 1
              }
            ],
            "description": "Master switch. Returned as `1`/`0` from D1; treat truthy as enabled."
          },
          "type": {
            "type": "string",
            "enum": [
              "targeting",
              "holdout"
            ],
            "description": "Gate kind — `targeting` (normal flag) or `holdout` (restricted public % + whitelist)."
          },
          "rolloutPct": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Current rollout in basis points (0–10000)."
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attr": {
                  "type": "string",
                  "minLength": 1,
                  "description": "Attribute key on the evaluation context (e.g. `country`, `plan`, `email`). Matched case-sensitively against `Shipeasy.checkGate(user, name)` input."
                },
                "op": {
                  "type": "string",
                  "enum": [
                    "eq",
                    "neq",
                    "in",
                    "not_in",
                    "gt",
                    "gte",
                    "lt",
                    "lte",
                    "contains",
                    "regex",
                    "semver_gt",
                    "semver_gte",
                    "semver_lt",
                    "semver_lte",
                    "gate_pass",
                    "exp_in"
                  ],
                  "description": "Comparison operator. Equality: `eq`/`neq`. Set membership: `in`/`not_in` (value is an array). Numeric order: `gt`/`gte`/`lt`/`lte`. Semver order: `semver_gt`/`semver_gte`/`semver_lt`/`semver_lte` (value is a dotted version like `4.2.0`). String: `contains` (substring), `regex` (JS-flavour pattern, value is the pattern string). Cross-resource references (evaluated only on the worker hot path, where both KV blobs load): `gate_pass` (`value` is another gate's name — true when that gate passes for the same caller); `exp_in` (`attr` is a running experiment's name, `value` is a group name, `\"$holdout\"`, or `\"$any\"` — true when the caller is in that variant / the universe holdout / any variant)."
                },
                "value": {
                  "description": "Operand. Shape depends on `op`: scalar for `eq/neq/gt/gte/lt/lte/contains/semver_*`; array of scalars for `in/not_in`; string pattern for `regex`; referenced gate name for `gate_pass`; group name / `\"$holdout\"` / `\"$any\"` for `exp_in`."
                }
              },
              "required": [
                "attr",
                "op",
                "value"
              ],
              "additionalProperties": false,
              "description": "Single targeting predicate. A gate's `rules` array is evaluated with AND semantics; use the gatekeeper `stack` for OR / fall-through logic."
            }
          },
          "salt": {
            "description": "Hash salt used for percentage bucketing.",
            "type": "string"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "folder": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "groupName": {
            "description": "Group label (note: `groupName` in response, `group` in request).",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "ownerEmail": {
            "description": "Owner email (note: `ownerEmail` in response, `owner_email` in request).",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "stack": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Client-supplied stable id for the stack entry (used for React keys, audit diffs, and as the default per-condition rollout salt)."
                        },
                        "type": {
                          "type": "string",
                          "const": "condition",
                          "description": "Discriminator. `condition` = rule-based predicate sub-gate."
                        },
                        "name": {
                          "description": "Human label shown in the dashboard.",
                          "type": "string"
                        },
                        "fromTemplate": {
                          "description": "Id of the project template this entry was seeded from, or `null` if hand-authored.",
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "pass": {
                          "description": "Combinator across `rules`. `all` = AND (default), `any` = OR.",
                          "type": "string",
                          "enum": [
                            "all",
                            "any"
                          ]
                        },
                        "rules": {
                          "default": [],
                          "description": "Predicates evaluated under `pass`. Empty array = match nothing.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "attr": {
                                "type": "string",
                                "minLength": 1,
                                "description": "Attribute key on the evaluation context (e.g. `country`, `plan`, `email`). Matched case-sensitively against `Shipeasy.checkGate(user, name)` input."
                              },
                              "op": {
                                "type": "string",
                                "enum": [
                                  "eq",
                                  "neq",
                                  "in",
                                  "not_in",
                                  "gt",
                                  "gte",
                                  "lt",
                                  "lte",
                                  "contains",
                                  "regex",
                                  "semver_gt",
                                  "semver_gte",
                                  "semver_lt",
                                  "semver_lte",
                                  "gate_pass",
                                  "exp_in"
                                ],
                                "description": "Comparison operator. Equality: `eq`/`neq`. Set membership: `in`/`not_in` (value is an array). Numeric order: `gt`/`gte`/`lt`/`lte`. Semver order: `semver_gt`/`semver_gte`/`semver_lt`/`semver_lte` (value is a dotted version like `4.2.0`). String: `contains` (substring), `regex` (JS-flavour pattern, value is the pattern string). Cross-resource references (evaluated only on the worker hot path, where both KV blobs load): `gate_pass` (`value` is another gate's name — true when that gate passes for the same caller); `exp_in` (`attr` is a running experiment's name, `value` is a group name, `\"$holdout\"`, or `\"$any\"` — true when the caller is in that variant / the universe holdout / any variant)."
                              },
                              "value": {
                                "description": "Operand. Shape depends on `op`: scalar for `eq/neq/gt/gte/lt/lte/contains/semver_*`; array of scalars for `in/not_in`; string pattern for `regex`; referenced gate name for `gate_pass`; group name / `\"$holdout\"` / `\"$any\"` for `exp_in`."
                              }
                            },
                            "required": [
                              "attr",
                              "op",
                              "value"
                            ],
                            "additionalProperties": false,
                            "description": "Single targeting predicate. A gate's `rules` array is evaluated with AND semantics; use the gatekeeper `stack` for OR / fall-through logic."
                          }
                        },
                        "rolloutPct": {
                          "description": "Per-condition rollout in basis points. After the rules match, the caller is bucketed at this %; in-bucket → gate `true`, otherwise fall through to the next entry. Absent ⇒ 10000 (100%, every matching caller passes).",
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 10000
                        },
                        "bucketBy": {
                          "description": "Attribute used to hash the caller into the per-condition bucket. Default `userID`.",
                          "type": "string"
                        },
                        "salt": {
                          "description": "Per-condition hash salt. Defaults to the entry `id`, then the gate salt.",
                          "type": "string"
                        },
                        "ramp": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 10000,
                              "description": "Start of the ramp in basis points (0–10000)."
                            },
                            "to": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 10000,
                              "description": "End of the ramp in basis points (0–10000)."
                            },
                            "startAt": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991,
                              "description": "Ramp start, epoch milliseconds (UTC)."
                            },
                            "durationMs": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991,
                              "description": "Ramp length in milliseconds."
                            }
                          },
                          "required": [
                            "from",
                            "to",
                            "startAt",
                            "durationMs"
                          ],
                          "additionalProperties": false,
                          "description": "Linear rollout ramp. The effective rollout % interpolates `from`→`to` over `[startAt, startAt+durationMs]`, clamped outside that window, evaluated against the wall-clock at eval time. Overrides the entry's static `rolloutPct` while present."
                        },
                        "locked": {
                          "description": "If `true`, dashboard hides edit controls (e.g. the trailing public-floor entry).",
                          "type": "boolean"
                        },
                        "whitelist": {
                          "description": "Cosmetic marker. When `true`, the dashboard renders this condition as the pinned, always-first \"whitelist\" allowlist block (a direct `email`/`user_id` `in […]` list) rather than a numbered targeting step. Purely presentational — ignored by evaluation, which treats the entry as an ordinary condition.",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "type"
                      ],
                      "additionalProperties": false,
                      "description": "Rule-based sub-gate. When the rules match and the caller falls in the per-condition rollout bucket, evaluation short-circuits and the gate returns `true`; otherwise it falls through to the next entry."
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Client-supplied stable id for the stack entry."
                        },
                        "type": {
                          "type": "string",
                          "const": "rollout",
                          "description": "Discriminator. `rollout` = percentage-bucket sub-gate."
                        },
                        "name": {
                          "description": "Human label shown in the dashboard.",
                          "type": "string"
                        },
                        "fromTemplate": {
                          "description": "Source template id, or `null`.",
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "rolloutPct": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 10000,
                          "description": "Bucket size in basis points (0–10000 = 0%–100%). `5000` = 50%, `100` = 1%, allows sub-1% precision."
                        },
                        "bucketBy": {
                          "description": "Attribute used to hash the caller into a bucket. Defaults to `user.userID`. Use e.g. `accountID` to bucket whole accounts together.",
                          "type": "string"
                        },
                        "salt": {
                          "description": "Per-entry hash salt. Defaults to the gate's salt. Set explicitly to keep two rollouts independent or correlated across gates.",
                          "type": "string"
                        },
                        "ramp": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 10000,
                              "description": "Start of the ramp in basis points (0–10000)."
                            },
                            "to": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 10000,
                              "description": "End of the ramp in basis points (0–10000)."
                            },
                            "startAt": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991,
                              "description": "Ramp start, epoch milliseconds (UTC)."
                            },
                            "durationMs": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 9007199254740991,
                              "description": "Ramp length in milliseconds."
                            }
                          },
                          "required": [
                            "from",
                            "to",
                            "startAt",
                            "durationMs"
                          ],
                          "additionalProperties": false,
                          "description": "Linear rollout ramp. The effective rollout % interpolates `from`→`to` over `[startAt, startAt+durationMs]`, clamped outside that window, evaluated against the wall-clock at eval time. Overrides the entry's static `rolloutPct` while present."
                        },
                        "locked": {
                          "description": "If `true`, dashboard hides edit controls.",
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "type",
                        "rolloutPct"
                      ],
                      "additionalProperties": false,
                      "description": "Percentage-rollout sub-gate. Hashes `bucketBy` (default `userID`) with `salt` and returns `true` for `rolloutPct/10000` fraction of callers (or the ramp's effective % when `ramp` is set)."
                    }
                  ],
                  "description": "One entry in the ordered gatekeeper stack. Evaluated top-to-bottom; first matching entry decides. Mix `condition` and `rollout` entries to express `internal-only` + `1% beta` + `50% public` in a single gate."
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of last mutation."
          },
          "creatorEmail": {
            "description": "Resolved email of the user who created the gate (`created_by` → `users.email`), or `null` when the creator is unknown.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "updaterEmail": {
            "description": "Resolved email of the user who last edited the gate (`updated_by` → `users.email`), or `null` when the last editor is unknown.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991,
            "description": "Monotonic edit counter — starts at 1 on create (D1 `NOT NULL DEFAULT 1`) and increments on every `PATCH /api/admin/gates/{id}`."
          },
          "createdAt": {
            "description": "ISO-8601 creation timestamp, or `null` on legacy rows created before the column existed.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "name",
          "enabled",
          "rolloutPct",
          "updatedAt",
          "creatorEmail",
          "updaterEmail",
          "version",
          "createdAt"
        ],
        "additionalProperties": false,
        "description": "The single wire shape for a gate row, shared by `ListGatesResponse` (`data[]` items) and `GET /api/admin/gates/{id}`."
      },
      "GetKillswitchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable opaque killswitch id."
          },
          "name": {
            "type": "string",
            "maxLength": 128,
            "description": "Stable config key in `folder.name` form (two lowercase segments separated by a dot, e.g. `pricing.tiers`). Used by SDKs as `Shipeasy.getConfig('<name>')`. Immutable after create."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Free-form description or `null`."
          },
          "folder": {
            "description": "Folder segment used for dashboard organisation, or `null` when the killswitch lives at the root.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "creatorEmail": {
            "description": "Resolved email of the creator (`created_by` → `users.email`), or `null` when unknown.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "description": "ISO-8601 creation timestamp, or `null` on legacy rows created before the column existed.",
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of last mutation."
          },
          "envs": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "boolean",
                  "description": "Flat boolean published for this env."
                },
                "switches": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  }
                },
                "version": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991,
                  "description": "Monotonically increasing version per env."
                },
                "publishedAt": {
                  "type": "string",
                  "description": "ISO-8601 publish timestamp for this version."
                },
                "publishedBy": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ],
                  "description": "Email/id of the actor who published this version."
                }
              },
              "required": [
                "value",
                "version",
                "publishedAt"
              ],
              "additionalProperties": false
            },
            "description": "Per-env latest value, switches, version, and publish timestamp."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "folder",
          "creatorEmail",
          "createdAt",
          "updatedAt",
          "envs"
        ],
        "additionalProperties": false
      },
      "GetOpsItemResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable opaque item id."
          },
          "number": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Per-project item number (the `#7` handle), or `null` if unnumbered."
          },
          "type": {
            "type": "string",
            "enum": [
              "bug",
              "feature_request",
              "error",
              "alert",
              "measure_plan"
            ],
            "description": "Queue item type. `bug` and `feature_request` are user-fileable; `error`, `alert`, and `measure_plan` tickets are auto-filed by the platform (a tracked production error, a metric-threshold alert, and an assistant-proposed measurement plan respectively)."
          },
          "title": {
            "type": "string",
            "description": "One-line item title (all types)."
          },
          "status": {
            "$ref": "#/components/schemas/OpsItemStatus"
          },
          "priority": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OpsItemPriority"
              },
              {
                "type": "null"
              }
            ],
            "description": "Triage priority, or `null` if not yet set (all types)."
          },
          "source": {
            "type": "string",
            "enum": [
              "team",
              "system"
            ],
            "description": "How the item was filed: `team` (a human admin/teammate — bug/feature) or `system` (auto-filed — error/alert/measure_plan)."
          },
          "sourceRef": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Stable key of the originating record for auto-filed tickets (error fingerprint, `<alert source>:<dedupeKey>`, or measurement-plan ref); `null` for human-filed bugs/features."
          },
          "investigationState": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OpsInvestigationState"
              },
              {
                "type": "null"
              }
            ],
            "description": "Where automation has taken this item in the investigation lifecycle (see `OpsInvestigationState`). Written as a side-effect of the actions that already happen (link a PR, change status, an assistant reply); `null` on rows filed before the field existed — derive from `status`/`type` in that case."
          },
          "reporterEmail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Reporter email (bug/feature), or `null`."
          },
          "stepsToReproduce": {
            "type": "string",
            "description": "Reproduction steps — populated for `bug`, empty string otherwise."
          },
          "actualResult": {
            "type": "string",
            "description": "What actually happened — `bug` only, empty string otherwise."
          },
          "expectedResult": {
            "type": "string",
            "description": "What was expected — `bug` only, empty string otherwise."
          },
          "description": {
            "type": "string",
            "description": "Feature description — populated for `feature_request`, empty string otherwise."
          },
          "useCase": {
            "type": "string",
[...]
